# Pandas

In [1]:
import numpy as np
import pandas as pd

In [3]:
labels = ['a','b','c']
my_data = [10,20,30]
arr = np.array(my_data)
d = {'a':10,'b':20,'c':30}

In [5]:
d

{'a': 10, 'b': 20, 'c': 30}

In [7]:
pd.Series(data = my_data)

0    10
1    20
2    30
dtype: int64

In [8]:
pd.Series(data=my_data, index=labels)

a    10
b    20
c    30
dtype: int64

In [15]:
pd.Series(my_data,labels)

a    10
b    20
c    30
dtype: int64

In [13]:
pd.Series(arr,labels)

a    10
b    20
c    30
dtype: int32

In [14]:
pd.Series(d)

a    10
b    20
c    30
dtype: int64

In [17]:
pd.Series(my_data)

0    10
1    20
2    30
dtype: int64

In [20]:
SER1 = pd.Series(['USA','GERMANY','JAPAN'],[1,2,3])

In [22]:
SER2 = pd.Series(['USA','GERMANY','INDIA'],[1,2,4])

In [23]:
SER1+SER2

1            USAUSA
2    GERMANYGERMANY
3               NaN
4               NaN
dtype: object

In [27]:
SER3 = pd.Series([1,2,3],['USA','TERMANY','JAPAN'])
SER4 = pd.Series([1,2,4],['USA','TERMANY','INDIA'])
SER3+SER4

INDIA      NaN
JAPAN      NaN
TERMANY    4.0
USA        2.0
dtype: float64